{% extends "base.html" %}

{% block title %}Suivi Énergie - Reporting{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
{% endblock %}

{% block content %}
<!-- 🔽 Interactive Form -->
<form id="filterForm" method="get" action="/data">
    <label for="start_date">De :</label>
    <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}">

    <label for="end_date">À :</label>
    <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}">

    <label for="data_type">Energie</label>
    <select id="data_type" name="data_type">
        <option value="all" {% if request.args.get('data_type') == 'all' or not request.args.get('data_type') %}selected{% endif %}>All</option>
        {% for field in fields %}
        {% if field.type == 'number' %}
            <option value="{{ field.name }}" 
            {% if request.args.get('data_type') == field.name %}selected{% endif %}>
            {{ field.name.replace('_', ' ').capitalize() }}
            </option>
        {% endif %}
        {% endfor %}
    </select>

    <label for="view">Voir par</label>
    <select id="view" name="view">
        <option value="daily" {% if request.args.get('view') == 'daily' %}selected{% endif %}>Jour</option>
        <option value="weekly" {% if request.args.get('view') == 'weekly'  or request.args.get('view') is none %}selected{% endif %}>Semaine</option>
        <option value="monthly" {% if request.args.get('view') == 'monthly' %}selected{% endif %}>Mois</option>
        <option value="yearly" {% if request.args.get('view') == 'yearly' %}selected{% endif %}>Année</option>
    </select>
</form>

<!-- KPIs -->
<div class="kpis">
  {% for kpi in kpis %}
    <div class="kpi-box {% if kpi.delta_vs_avg < 0 %}green{% else %}red{% endif %}">
      <strong>{{ kpi.typeNRJ }}</strong><br>
      Courant : {{ kpi.current | round(2) }}<br>
      Moy. mobile : {{ kpi.avg | round(2) }}<br>
      Écart : {{ kpi.delta_vs_avg | round(2) }} ({{ kpi.delta_vs_avg_pct | round(1) }}%)
    </div>
  {% endfor %}
</div>

<!-- Plot -->
<img src="data:image/png;base64,{{ plot_url }}" alt="Energy Usage Plot">

<!-- Pivot -->
<h2>Résumé</h2>
<div>
  {{ pivot_table | safe }}
</div>




<div class="button-container">
    <form method="get" action="/download_xlsx">
        <input type="hidden" name="token" value="{{ download_token }}">
        <button type="submit" class="back-button" style="background-color: #f39c12;">
            Télécharger en XLSX
        </button>
    </form>
</div>

{% for table in tables %}
    {{ table | safe }}
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}