{% extends "base.html" %}

{% block title %}Suivi Énergie - Encodage{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Encodage des compteurs</h1>

    {% if message %}
        <div id="toast" class="toast">{{ message }}</div>
    {% endif %}
    
    <form method="POST">


        <fieldset>
            <label for="record_date">Date:</label>
            <input type="date" id="record_date" name="record_date" value="{{ default_date }}">

            {% for field in fields %}
                <label for="{{ field.name }}">{{ field.label }}:</label>
                <input 
                    type="{{ field.type if field.type is defined else 'number' }}" 
                    id="{{ field.name }}" 
                    name="{{ field.name }}" 
                    {% if field.type != 'text' %} step="any" {% endif %}
                    {% if field.required %} required {% endif %}
                >
            {% endfor %}
        </fieldset>
        <button type="submit">Envoi</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}
